
.Button
{
    color:white;
    border:none;
    float: left;
    border-radius: 8px;
    font-size: 20px;
    padding:10px;
    
    margin-Right:5px;
    margin-top: 50px;
    outline: none;
    background-color: #FFCA28 ;
    width: 90px;
    height: 40px;
    margin-left: 250px;
}
.Button:hover
{
    background-color: rgb(79, 189, 79);
    color:black;
}